<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="idv.Zero.KerKerInput"
      android:versionCode="5"
      android:versionName="2.0.1">
    <application android:icon="@drawable/icon" android:label="KerKerInput">
        <activity android:name=".KerKerInputUI"
                  android:label="@string/app_name"
                  android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KerKerInputAbout"
        		  android:label="@string/about"
        		  android:screenOrientation="sensor">
	  	</activity>
	</application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 